MONGO_URI=mongodb+srv://root:eYbwYML88q7T1lWS@devtree.rjiid7t.mongodb.net/DevTree

FRONTEND_URL=http://localhost:5173

JWT_SECRET=hola

CLOUDINARY_NAME=dl27v0kaq
CLOUDINARY_API_KEY=872472234388187
CLOUDINARY_API_SECRET=ewjMtsae9UMo42OOYIMvKlW71vA
